.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

.loading-container {
  background-color: var(--purpie);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Top Bar */
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 7.5rem; 
  background-color: var(--black);
  z-index: 1;
}

/* Top Content */
.top-content {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1.25rem;
  position: relative;
  z-index: 2;
}

.title {
  font-family: "Roobert", sans-serif;
  font-size: 1.875rem; 
  text-transform: uppercase;
  color: var(--gainsboro);
  font-weight: 400;
  margin: 0;
  padding-left:1rem;
}

.top-img {
  flex: 1;
  text-align: center; 
}

.top-img img {
  width: 4.375rem; 
  height: auto;
  object-fit: cover;
}

.top-right {
  font-family: "Roobert", sans-serif;
  text-transform: uppercase;
  color: var(--gainsboro);
  font-size: 1.875rem;
  text-align: right;
  font-weight: 400;
  padding-right: 0.625rem; 
}

/* Bottom Bar */
.bottom-bar {
  width: 100%;
  height: 5rem; 
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem; 
  position: relative;
  z-index: 2;
}

.bottom-img {
  margin: 1.25rem; 
  border: 0.0625rem solid var(--gainsboro); 
}

.bottom-img img {
  width: auto;
  height: 2.1875rem; 
  object-fit: cover;
}

/* Number Box */
.number-box {
  color: var(--gainsboro);
  border: 0.0625rem solid var(--gainsboro); 
  position: relative;
  display: flex;
  line-height: 0.65;
  overflow: visible;
  font-family: "NK57";
  font-weight: 400;
  margin: 1.25rem; 
}

.number-glitch {
  font-size: 2.1875rem; 
  position: relative;
  display: inline-block;
  transform: translateY(-0.1875rem); 
}

/* Exit Animation */
.top-bar.exit {
  animation: moveUp 0.8s ease-in-out forwards;
}
.bottom-bar.exit {
  animation: moveDown 0.8s ease-in-out forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

/* Mobile */
@media (max-width: 48rem) { 
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }

  .top-content {
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    padding: 1.25rem;
    font-size: 2rem; 
    text-align: left;
  }

  .top-right img {
    padding: 1.25rem;
    width: 4rem; 
    height: auto;
  }
}
